

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  width: auto;
  margin: 0 auto;
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  gap: 10px;
}

label {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 10px;
}

/*input,*/
/*select {*/
/*  width: 90%;*/
/*  padding: 8px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*}*/


.inputSearch {
  width: 50%;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
}

/*button {*/
/*  padding: 10px;*/
/*  background-color: #007bff;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/

.pagination-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-info {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-info li {
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 0.8em;
}

.logout-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}